*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background-image:url(../img/ring2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
    
}

.title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    color:rgba(24, 22, 22, 0.822);
    padding-bottom: 50px;

}

.block{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 70px;
    position: relative;
    }

.block img{
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
    
    
}

.next,.prev,.point:hover{
    cursor:pointer;
}

.point-selector{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    height: 2rem;
    width: 10rem;
    margin-bottom: 10px;
    padding: 5px;
}

.point-selector i{
    
    font-size: 15px;
}

.active{
    color:red;
}