*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.block{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

.block img{
    height: 250px;
    width: 300px;
}